<!DOCTYPE html>
<html lang="en" dir="ltr">
  
<head>
  <meta charset="utf-8">
  <title>Dev Test - Data Visualisations</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  
  
</head>
  
<body class="container-fluid" >

  <center class="row">
    <h1>Data Visualisations</h1>
  </center>
  <hr />

  <div class="row">
    <div class="col-md-6">
      <canvas id="hotelConsumption"></canvas>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  
  <script>
    var endpoint = '/insight/api';
  
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(body) {
        drawHotelConsumption(body, 'hotelConsumption');
        console.log("drawing");
      },
      error: function(error_body) {
        console.log(body);
      }
    })
  
    function getColorsRepeated(length){
        options = [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ]

        max = options.length
        colors = []
        for(i=0; i<length; i++){colors.push(options[i%max])}

        return colors;
    }
  
    function drawHotelConsumption(body, id) {
        //let chartdata = body.chartdata.map(o => o)
        //console.log(chartdata)
        let ctx = document.getElementById(id).getContext('2d');
        let chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',
        
                // The data for our dataset
                data: {
                    labels: body.hotel_cons_labels,
                    datasets: [{
                        label: body.hotel_cons_legend,
                        borderColor: 'rgb(55, 99, 132)',
                        data: body.hotel_cons_data,
                        backgroundColor: getColorsRepeated(body.hotel_cons_labels.length)
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                        display: true
                        }],
                        yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            userCallback: function(value, index, values) {
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);
                                value = value.join(',');
                                return value;
                            }
                        }
                        }]
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                return tooltipItem.yLabel.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                            }
                        }
                    }
                }
        })
    }
  
  </script>
</body>
  
</html>