{% extends 'base.html' %}

{% block title %}
Meter Instance
{% endblock title %}

{% block content %}
<table class="ui celled table">
  <thead><tr>
    <th>ID</th>
    <th>Building ID</th>
    <th>Fuel</th>
    <th>Unit</th>
  </tr></thead>
  <tbody>
    <tr>
      <td data-label="ID">{{meter.id}}</td>
      <td data-label="Building ID">
        <a href="{% url 'energy:building_specific' meter.building_id.id%}">
            {{meter.building_id.id}}
        </a>
      </td>
      <td data-label="Fuel">{{meter.fuel}}</td>
      <td data-label="Unit">{{meter.unit}}</td>
    </tr>
  </tbody>
</table>
{% endblock content %}